body,
h1,
h3 {
  padding: 0;
  margin: 0;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  color: white;
  background: url(../img/fotocubo-unsplash.jpg) no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  display: block;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #030302;
}

h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: #0c0c0c;
}

::selection {
  background: #7b7e7d;
  color: #000;
}

#mensagem {
  background: rgba(19, 19, 19, 0.01);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

textarea {
  font-weight: 400;
  font-size: 0.875rem;
  padding: 10px;
  color: #f5f0f0;
}

#mensagem:focus {
  background: linear-gradient(145deg, #0c0c0c, #0f0f0f);
}

select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: rgba(19, 19, 19, 0.01);
  color: #afafaf;
  margin-bottom: 20px;
  outline: none;
}

select:focus {
  background: linear-gradient(145deg, #0c0c0c, #0f0f0f);
}

.radio {
  display: flex;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #030302;
  place-items: center;
}

input[type="radio"] {
  outline: none;
  accent-color: #030302;
  width: 20px;
  height: 20px;
}

.radio-button {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  background: rgba(19, 19, 19, 0.658);
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.801);
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

button:focus {
  outline: solid 1px #030302;
}

button:hover {
  background-color: rgba(249, 247, 247, 0.314);
}

form {
  display: flex;
  flex-direction: column;
}

.mensagem {
  background: rgba(19, 19, 19, 0.658);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 30px;
  background: rgba(19, 19, 19, 0.095);
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #818181;
  color: #ffffffdb;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.chave {
  text-align: center;
  margin-bottom: 10px;
  color: #ffffffc2;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.chave-container {
  display: none;
}

.range {
  -webkit-appearance: none;
  height: 10px;
  background-color: #030302;
  outline: none;
  cursor: ew-resize;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 10px;
  background-color: #ffff;
  border-radius: 2px;
}

.icons ion-icon{
  width: 25px;
  height: 25px;
  color:#030302;

}
.icons ion-icon:hover{
  color: rgba(0, 0, 255, 0.539);


}